@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.article-card {
  font-family: "Lato", sans-serif;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  margin: 15px 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: #222222;
  text-decoration: none;
}

.article-card:hover {
  transform: scale(1.04);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}

.article-topic {
  margin-right: 10px;
  font-family: inherit;
  color: whitesmoke;
  width: auto;
  font-weight: bold;
  padding: 10px;
  background-color: #249095;
  border: 1px solid rgb(171, 171, 171);
}
.article-topic :hover {
  color: #19378a;
}
.article-picture {
  width: 20%;
  margin-left: auto;
}

@media only screen and (max-width: 500px) {
  .article-picture {
    display: none;
  }
}

.article-details {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  width: 100%;
}

.article-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom-right-radius: 10px;
}

.pagination {
  text-align: center;

  font-weight: bold;
}
