.login-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  color: whitesmokesmoke;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container input {
  margin: 10px;
  font-size: 25px;
  border-radius: 4px;
  padding: 5px;
  background: #f6b93b;
  border-color: #f6b93b !important;
}

.login-container button {
  font: "Lato", sans-serif;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.login-container button:hover {
  font: "Lato", sans-serif;
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}
