@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.article-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  color: aliceblue;
  background-color: #222222;
  margin-left: 20px;
  border-radius: 25px;
  padding: 5px;
}

.articles-body {
  margin: 7px;
  padding: 10px;
}

.article-header {
  border: 5px solid #249095;
  margin: 7px;
}

.post-commentWrapper {
  margin: 10px;
  width: 96%;
  padding: 5px;
  color: aliceblue;
  background-color: #222222;
  border: 5px solid #249095;
  resize: both;
  overflow: auto;
  padding: 5px;
}
.mytext {
  width: 99%;
}
.postCommentButton {
  display: flex;
  flex-wrap: wrap;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}
