@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.users-card {
  color: rgb(199, 167, 167);
  display: flex;
  margin: 15px 15px;
  border-radius: 15px;
  background-color: #222222;
  text-decoration: none;
}

.users-card:hover {
  transform: scale(1.04);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}

.users-image {
  font-family: inherit;
  color: whitesmoke;
  width: auto;
  font-weight: bold;
  padding: 10px;
  background-color: #249095;
  border-right: 1px solid #249095;
  margin-left: auto;
  text-decoration: none;
}

.users-name {
  color: whitesmoke;
  text-decoration: none;
}
