/* .App {
  
} */

.articlesListMainLayout {
  padding: 20px 0;
}

.mainBody {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.sidebar {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 30px;
}

.main {
  flex: 6;
}
